extends layout
block content
	div#vide-island(data-vide-bg="mp4: /video/island.mp4" data-vide-options="postion: 0% 0%, muted: false, loop:true")  
		.container.text-center
			br
			br
			br
			br
			.row
				.col-md-5.col-md-offset-3
					.card
						img.card-img-top(src='/img/jolly.png', alt='Card image cap')
						form(method="post", action="/pirates")
							.card-block
								input.form-control(name="pirate_name", type="text", placeholder="Pirate Name")
							ul.list-group.list-group-flush
								li.list-group-item 
									input.form-control(name="pirate_accessory", type="text", placeholder="Pirate Accessory")
								li.list-group-item 
									label(for="beard") Pirate Beard Color  
									select.c-select(name="pirate_beard")
										option(value="danger") Red Beard
										option(value="info") Blue Beard
										option(value="inverse") Black Beard
										option(value="success") Green Beard
										option(value="warning") Orange Beard
										option(value="default") Grey Beard
								li.list-group-item 
									input.form-control(name="pirate_drink", type="text", placeholder="Pirate Drink")
								li.list-group-item 
									input.form-control(name="pirate_weapon", type="text", placeholder="Pirate Weapon")
								li.list-group-item
									label(for="pirate_image_url") Profile Pic URL
										div
											small.text-muted optional
									input.form-control(name="pirate_image_url") 
							.card-footer.text-muted.text-center
								button.btn.btn-success.btn-lg(type="submit") Create Pirate
