body{
  background-repeat: no-repeat;
  background-attachment: fixed;
/*background: #C04848; /* fallback for old browsers */*/
/*background: -webkit-linear-gradient(to left, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */*/
/*background: linear-gradient(to left, #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
        }
/*body{overflow-y: hidden;}*/
img{
  width: 100%
}
.card-img-top{
  width: 100%;
}
.text-center{
  text-align: center;
}
.card-inverse{
  background-color: #000;
  border-color: #000;
}
.card-default{
  background-color: #333;
  border-color: #333;
}
.card-default>.card-block{
  color:white;
}
#vide-island{
  height:100%;
  width:100%;
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -100;
}
.form-inline > * {
   margin:5px 3px;
}
